.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 50px;
  justify-content: space-evenly;
}

.card {
  border: 1px solid black;
  padding: 34px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 25px;
  text-align: center;
  width: 200px;
}

.card h3 {
  margin-bottom: 8px;
}

.head {
  font-weight: bolder;
  font-size: larger;
}

.newDog-btn button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.radio {
  margin-left: 30px;
}
.buttons input {
  margin-left: 20px;
  margin-bottom: 20px;
}

.new-dog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 25px;
}

.newDog-btn {
  margin-right: auto;
}